* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:#f5f7fa; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
}

.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #1e2939;
    max-width: 370px;
    justify-content: center;
}

.about-me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.self-introduction {
    margin-top: 25px;
}

.item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #c8d2e2;
}

.contacts-link-type {
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-text {
    color: #ffffff;
}

.languages-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.languages-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.languages-text {
    color: #ffffff;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
    text-align: center;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    text-align: center;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.wrraper-company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.task-font {
    font-size: 18px;
}

.project {
    text-decoration: none;
}

.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #bebebe;
    font-weight: 100;
}

.projects-item {
    font-weight: 700;
    margin-left: 17px;
}

.projects-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
   color: #ff6b08;
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.profession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.education-type-one {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.education-type-two {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.education-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;;
}

.footer-container {
    background: #ffffff;
    display: grid;
    grid-template-columns: 2fr 0.25fr 1fr 1fr;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.fa-github:before{
   text-align: center;
}

.footer-link{
    margin-bottom: 10px;
    align-self: center;
}

.footer-img {
    width: 80px;
    height: 80px;
}